body {
    font-family: sans-serif;
    font-size: x-large;
    text-align: justify;
    line-height: 130%;
}

nav {
    margin: 50px;
    font-size: xxx-large;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    margin-top: 50px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

figure {
    text-align: center;
}

figcaption {
    font-weight: bold;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

p, li{
    font-family: serif;
}

.words-header {
    text-transform: uppercase;
}
