body {
    margin: 80px;
    margin-right: 150px;
    margin-left: 150px;

    font-family: sans-serif;
    font-size: x-large;
    text-align: justify;

    line-height: 130%;

    background-color: beige;
}

nav {
    padding: 50px;
    font-size: xxx-large;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main {
    display: grid;
    row-gap: 20px;
}

figure, h1, nav {
    text-align: center;
}

figcaption {
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    text-decoration: underline;
}

p, li{
    font-family: serif;
}

.words-header {
    text-transform: uppercase;
}

.advantage-list {
    list-style-type: none;
}

.two-columns-equally {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.color-black-background-yellow {
    color: black;
    background-color: gold;
}

.color-white-background-blue {
    color: white;
    background-color: #2dafff;
}

a {
    margin: auto;
    padding: 15px;

    outline: none;
    text-decoration: none;

    display: inline-block;

    text-align: center;

    color: black;
}

a:link, a:visited, a:focus {
    background: yellow;
}

a:hover {
    background: orange;
}

header, nav, main {
    background-color: white;
}

header, main, footer, .two-columns-equally {
    padding: 25px;
}